/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Arial, sans-serif;
     background-color: white;
}

header {
  background-color: black;
  margin: 0px;
  border-bottom-style: solid;
  border-bottom-color: yellow;
  border-bottom-width: thick;
}

nav {
  text-align: right;
  height: 52px;
}

h1 {
  font-style: italic;
  font-size: 20px;
}

h2 {
  font-size: 24px;
  font-family: Arial black;
  font-weight: 900;
  padding: 10px 0px 10px 0px;
}

h3 {
  font-size: 26px;
  font-family: Georgia;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 170%;
}

li {
  color: white;
  font-size: 18px;
  padding: 5px;
  display: inline;
  height: 52px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  border: none;
  font-family: impact;
  font-weight: 200;
  font-size: 18px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.main-container {
  max-width: 800px;
  margin: auto;
}

.developers-container {
  max-width: 1995;
  margin: auto;
}

.main-header {
  padding: 10px;
}

.main-navbar {
  padding: 15px 0px
}

.developers-header {
  padding: 0px 0px 0px 0px;
}

.main-yellow-logo {
  color: yellow;
  font-size: 32px;
  padding: 5px;
  font-family: Georgia;
}

.developers-yellow-logo {
    color: yellow;
    font-size: 32px;
    padding: 5px 0px 0px 10px;
    float: left;
    font-family: Georgia;
}

.developers-nav {
  float: right;
  padding: 12px 10px 0px 0px;
  height: 52px;
}

.primary-nav {
  text-transform: uppercase;
  font-family: Impact;
  font-size: 24px;
}

.primary-nav:hover {
  background-color: gray;
}

.secondary-nav:hover {
  background-color: gray;
}

.wrapper-section {
  text-align: center;
  background-color: lightgray;
  padding: 20px;
}

.yellow-underline {
  text-decoration: none;
  border-bottom: 3px solid yellow;
}

.tag-line {
  font-family: 'Palatino Linotype';
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
}

.main-section {
  background-image: url("../images/coworking.jpg");
  width: 100%;
  float: left;
  height: 460px;
  padding: 20px;
  background-position: center;
}

.developers-main-section {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

.match-section {
  padding: 30px;
  float: right;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  box-shadow: 0px 0px 10px;
}

.match-section-button {
  background-color: yellow;
  box-shadow: 0 2px #cccc00;
  margin-top: 30px;
}

.contact-button {
  background-color: yellow;
  box-shadow: 0 2px #cccc00;
  margin-top: 10px;
}

.developers-profile {
  background-color: white;
  height: 415px;
  width: 300px;
  padding: 10px;
  float: left;
  margin: 10px 10px;
}

.developers-profile-pic {
  background-color: lightgray;
  color: darkgray;
  height: 280px;
  width: 280px;
  padding: 120px 0px;
  font-size: 24px;
}

.developers-profile-p {
  text-align: left;
}

.developers-profile-circle {
  background-color: dimgray;
  border-radius: 10px;
  float: left;
  color: white;
  padding: 2px 10px 2px 10px;
  margin: 5px 2px 5px 2px;
}

.three-columns {
  float: left;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: white;
}

.three-columns-section-border {
  float: left;
  width: 33.33%;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
  border-right: 1px solid lightgray;
}

.three-columns-section {
  float: left;
  width: 33.33%;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
}

.three-columns-button {
  background-color: lightgray;
  box-shadow: 0 2px darkgray;
  margin-top: 30px;
}

footer {
  float: left;
  width: 100%;
  color: white;
  background-color: black;
  padding: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
